In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.action_chains import ActionChains
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
s = Service("chromedriver.exe")
driver = webdriver.Chrome(service = s)

driver.get('https://www.ajio.com/s/men-watches-3991-40341')
driver.implicitly_wait(20)

old_height = driver.execute_script('return document.body.scrollHeight')

counter = 1
while True:
    try:
        driver.execute_script('window.scrollTo(0,document.body.scrollHeight)')
        time.sleep(3)
        new_height = driver.execute_script('return document.body.scrollHeight')

        if new_height == old_height:
            break
        
        print(old_height)
        print(new_height)
        print()
        old_height = new_height
    except:
        pass
    
    counter += 1

html = driver.page_source

with open('ajio.html','w',encoding='utf-8') as f:
    f.write(html)

8938
24988

24988
41038

41038
49063

49063
57088

57088
73138

73138
89188

89188
105238

105238
121288

121288
153388

153388
169438

169438
185488

185488
201538

201538
217588

217588
233638

233638
249688

249688
265738

265738
281788

281788
297838

297838
313888

313888
329938

329938
345988

345988
362038

362038
378088

378088
394138

394138
410188

410188
426238

426238
442288

442288
458338

458338
474388

474388
490438

490438
506488

506488
522538

522538
538588

538588
554638

554638
570688

570688
586738

586738
602788

602788
618838

618838
634888

634888
650938

650938
666988

666988
699088

699088
715138

715138
731188

731188
747238

747238
763288

763288
771313

In [4]:
with open('ajio.html','r',encoding='utf-8') as f:
    html = f.read()

soup = BeautifulSoup(html,'lxml')

In [20]:
container = soup.find_all('div',class_='contentHolder')
print(len(container))

4320

In [21]:
brand = []
name = []
rating = []
price = []
for i in container:
    # For Brand
    try:
        brand_name = i.find('div',class_='brand').text
        brand.append(brand_name)
    except:
        brand.append('-')
    
    # For Name
    try:
        watch_name = i.find('div',class_='nameCls').text
        name.append(watch_name)
    except:
        name.append('-')
    
    # For Rating
    try:
        watch_rating = i.find('p',class_='_1N0OO').text
        rating.append(watch_rating)
    except:
        rating.append('-')
    
    # For Price
    try:
        watch_price = i.find('div', attrs={'class':''}).text
        price.append(watch_price)
    except:
        price.append('-')
    
df = pd.DataFrame({'Brand':brand,'Name':name,'Rating':rating,'Price':price})
df.shape

(4320, 4)

In [22]:
df.head()

,Brand,Name,Rating,Price
0,Uniquest,Blue Dial Analogue Fashion Watch For Men,3.1,"₹725 ₹2,899 (75% off)"
1,Uniquest,Black Dial Analogue Fashion Watch with Leather...,-,"₹975 ₹3,899 (75% off)"
2,Uniquest,Blue Dial Analogue Fashion Watch For Men,-,"₹750 ₹2,999 (75% off)"
3,Uniquest,Brown Dial Analogue Fashion Watch with Leather...,3.2,"₹900 ₹3,599 (75% off)"
4,Uniquest,Green Dial Analogue Fashion Watch For Men,-,"₹750 ₹2,999 (75% off)"

In [24]:
df.to_pickle('ajio Men Watches.csv.pkl')

In [25]:
import pickle
with open('ajio Men Watches.csv.pkl','rb') as f:
    df = pickle.load(f)

In [27]:
import numpy as np

In [26]:
df.head()

,Brand,Name,Rating,Price
0,Uniquest,Blue Dial Analogue Fashion Watch For Men,3.1,"₹725 ₹2,899 (75% off)"
1,Uniquest,Black Dial Analogue Fashion Watch with Leather...,-,"₹975 ₹3,899 (75% off)"
2,Uniquest,Blue Dial Analogue Fashion Watch For Men,-,"₹750 ₹2,999 (75% off)"
3,Uniquest,Brown Dial Analogue Fashion Watch with Leather...,3.2,"₹900 ₹3,599 (75% off)"
4,Uniquest,Green Dial Analogue Fashion Watch For Men,-,"₹750 ₹2,999 (75% off)"

In [34]:
df['Price'].apply(lambda x: x.split('₹')[1])

0          725
1          975
2          750
3          900
4          750
         ...
4315     3,749
4316     1,649
4317     1,699
4318     3,549
4319    21,199
Name: Price, Length: 4320, dtype: object